{% extends "base.html" %}
{% load static %}

{% block body %}
<!-- Start Hero Section -->
<div class="hero">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-5">
				<div class="intro-excerpt">
					<h1>Product detail</h1>
				</div>
			</div>
			<div class="col-lg-7">

			</div>
		</div>
	</div>
</div>
<!-- End Hero Section -->



<div class="  before-footer-section text-center">
	<div class="container">
		<div class="row">

			<!-- Start Column 1 -->
			<div class="col-12  mb-5">

				<img src=" {{object.image.url}} " class="img-fluid product-thumbnail">
				<h3 class="product-title m-5">Nordic Chair</h3>
				<p class="text-start"> {{object.description}} </p>

				<form action="" method="post">

					<button type="button" class="btn btn-success">
						<strong class="product-price me-5 ">$50.00</strong>
						<span class="icon-cross">
							<img src=" {% static 'images/cross.svg' %} " class="img-fluid text-end ">

						</span>
						<strong class=" px-5">Add to Cart</strong>
			</div>
			</button>

			</form>

		</div>
		<!-- End Column 1 -->
	</div>
</div>
</div>


{% endblock body %}